-
    const datasite = {
        "site": 
        {
            "title-general": "Practica",
            "author": "Toni Ferra",
            "meta": 
            {
                "charset": "utf-8",
                "manifest": "site.webmanifest",
                "appleicon": "icon.png",
                "favicon": "favicon.ico",
                "default-language": "es",
                "theme-color": "#fafafa",
                "description-general": "descripcion general",
                "keywords-general": "key general, key general, key general",
                "url-general": "https://www.ejemplo.com",
            },
            //- tienen que coincidir pages y titles y seo-general
            "pages": ["index", "contactar", "blog", "productos"],
            "titles":
            {
                "index": "titulo index",
                "contactar": "titulo contactar",
                "blog": "titulo blog",
                "productos": "titulo productos",
            },
            "seo-general": 
            {

                "index":
                {
                    "description": "Lorem ipsum dolor sit amit.",
                    "keywords": "lorem, ipsum, dolor, sit, amit",
                    "url": "https://www.ejemplo.com"
                },
                "contactar":
                {
                    "description": "Lorem ipsum dolor sit amit.",
                    "keywords": "lorem, ipsum, dolor, sit, amit",
                    "url": "https://www.ejemplo.com"
                },
                "blog":
                {
                    "description": "Lorem ipsum dolor sit amit.",
                    "keywords": "lorem, ipsum, dolor, sit, amit",
                    "url": "https://www.ejemplo.com"
                },
                "productos":
                {
                    "description": "Lorem ipsum dolor sit amit.",
                    "keywords": "lorem, ipsum, dolor, sit, amit",
                    "url": "https://www.ejemplo.com"
                }
            },
            "seo-social":
            {
                "generico":
                {
                    "og": 
                    {
                        "title": "Lorem Ipsum general",
                        "type": "tipo general",
                        "url": "http://www.ejemplogeneral.com",
                        "image": "imagen general ejemplo"
                    }
                    

                },
                "index":
                {
                    "og": 
                    {
                        "title": "Lorem Ipsum index",
                        "type": "tipo del index",
                        "url": "http://www.ejemploindex.com",
                        "image": "imagen del index ejemplo"
                    }

                }
            },
            

        },
        "nav": 
        {
            "header": 
            [
                {
                    "href": "./link1.html",
                    "displayName": "Link 1",
                    "classname": "",
                },
                {
                    "href": "./link2.html",
                    "displayName": "Link 2",
                    "classname": ""
                },
                {
                    "href": "./link3.html",
                    "displayName": "Link 3",
                    "classname": ""
                    
                }
            ],
            
            "footer":
            [
                {
                    "href": "./link1.html",
                    "displayName": "Link 1",
                    "classname": "link1"
                },
                {
                    "href": "./link1.html",
                    "displayName": "Link 1",
                    "classname": "link2"
                    
                    
                },
                {
                    "href": "./link1.html",
                    "displayName": "Link 1",
                    "classname": "link3"
                },
            ]
        },
        

    };


-const anyoactual = new Date().getFullYear();