/* **************************** */ 
/* IMPORTAR PARCIALES PARA COMPILAR */ 
/* **************************** */ 

// Funciones 
@import "./abstracts/functions";

// Mixins 
@import "./abstracts/mixins";

// Variables 
@import "./abstracts/variables";

// Tipografia 
@import "./base/typography";

// Layouts 
@import "layouts/headers";
@import "layouts/footer";
@import "layouts/forms";
@import "layouts/grids";
@import "layouts/sidebars";
@import "layouts/navigators";

// Components 
// Por si acaso hay algun componente en layout se machaca por el componente 
@import "components/buttons";
@import "components/dropdowns";
@import "components/sliders";

// Pages 
@import "pages/index";
@import "pages/contacto";
@import "pages/galeria";
@import "pages/blog";
@import "pages/productos";

// Themes 
@import "themes/admin";
@import "themes/theme";

// Frameworks 
@import "vendors/bulma";
@import "vendors/bootstrap";
