extends ../templates/_template.pug


//- bloque de variableslocales
block variableslocales
    //- variable nos sirve para pasar como parametro en lso mixins
    //- asi los mixins saben que pagina se los envia
    -let currentpage = "index"


//- Si queremos realizar seo pagina especifica
//- sobreescribe el seo general
//- block seo
//-     +generarseocompleto(currentpage)


//- Si queremos un titulo especificico para una pagina
//- sobreescribe el titulo general
//- block title
//-     +showtitulo(currentpage)

block main
