/* **************************** */
/* TIPOGRAFIA */
/* **************************** */

@include font-face("arialregular", "arial-regular");
@include font-face("arialblack", "arial-black");

body {
    font-family: $font-primary, $font-secondary, sans-serif;
    font-size: $font-size-base;
    color: $color-texto-base;

}
