/* **************************** */
/* TIPOGRAFIA */
/* **************************** */

@font-face {
    font-family: "arialblack";
    src: url("../assets/font/arial-black.woff2") format("woff2"),
        url("../assets/font/arial-black.woff") format("woff");

}

@font-face {
    font-family: "arialregular";
    src: url("../assets/font/arial-regular.woff2") format("woff2"),
        url("../assets/font/arial-regular.woff") format("woff");
}

@font-face {
    font-family: "robotoregular";
    src: url("../assets/font/roboto-regular.woff2") format("woff2"),
        url("../assets/font/roboto-regular.woff") format("woff");
}

body
{
    font-family: "roboto", "arial", sans-serif;
    font-size: 16px;

}
