/* **************************** */
/* FUNCTIONS */
/* **************************** */

// funcion donde calculamos el rem a partir del px
@function calcularrem($size, $base: 16px) {
    $remSize: $size / $base;
    @return #{$remSize}rem;
}


// Function de convertir una cantidad en Rem, Em o Porcentaje
@function convertir($cantidad, $tipo: "r", $base: 16) {
    $calculoRem: $cantidad / $base;

    @if $tipo=="r" {
        @return $calculoRem+rem;
    }

    @else if $tipo=="e" {
        @return $calculoRem+em;
    }

    @else if $tipo=="p" {
        @return percentage($cantidad / $base);
    }

    // Utilizar ch( [la cantidad a convertir], [tipo de unidad r=rem e=em p=porcentaje] )
}
