/* **************************** */
/* VARIABLES */
/* **************************** */

//-------------------- FONT FAMILY --------------------//
$font-primary: "arialregular";
$font-secondary: "arialblack";


//-------------------- Font sizes --------------------//
$font-size-base: calcularrem(16px);
$font-size-importante: calcularrem(18px);
$font-size-titulo: calcularrem(36px);

$font-size-seleccionado: calcularrem(18px);
$font-size-boton: calcularrem(18px);


//-------------------- COLORES --------------------//
$blanco: rgb(255, 255, 255);
$negro: rgb(0, 0, 0);
$gris: #c4c4c4;
$beige: rgb(248, 246, 238);
$naranja: rgb(242, 98, 74);
$naranja-claro: rgb(255, 230, 209);


//-------------------- COLORES SEMANTICOS --------------------//
$color-fondo: $blanco;
$color-fondo-banner: $naranja-claro;
$color-fondo-parrafos: $beige;
$color-fondo-footer: $gris;

$color-texto-base: $negro;
$color-texto-seleccionado: $naranja;

$color-placeholder: $gris;
$color-texto-boton-enviar: $blanco;
$color-fondo-boton-enviar: $naranja;

//-------------------- HEIGHTS GRIDS -------------------- //
$grid-height: calcularrem(580px);
$grid-height-header: calcularrem(80px);
$grid-height-large: calcularrem(580px);
$grid-height-footer-space: calcularrem(77px);
$grid-height-footer-content: calcularrem(288px);

$grid-height-list: calcularrem(130px);
$grid-height-copy: calcularrem(150px);

//-------------------- NAVIGATION -------------------- //
$width-navigation: 10ch;

//-------------------- Gap flex-box -------------------- //
$gap-small-percentage: 5%;
$gap-small-rem: calcularrem(20px);

//-------------------- Dispositivos sizes -------------------- //
$desktop-small: 700px; // Dispositivos de 700px
$desktop-medium: 1200px; // Dispositivos de 1200px
$dektop-large: 1300px; // Dispositivos de 1300px

//-------------------- Tamaños brekapoint -------------------- //
$large-device-width: 1199px; // Dispositivos de 1200px
$medium-device-width: 991px; // Dispositivos medios de 992px
$small-device-width: 767px; // Dispositivos pequeños de 767px
$mini-device-width: 575px; //Dispositivos telefonos de 575px

$breakpoint-mini: 640px;
$breakpoint-mid: 0px;
$breakpoint-large: 0px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;

$breakpoint-small: 320px;
$breakpoint-medium: 768px;
$breakpoint-large-1: 1024px;
$breakpoint-large-2: 1366px;
$breakpoint-extra-large: 1400px;


$breakpoint-tablet: 668px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1312px;
