mixin generarseocompleto(currentpage)
    //- por defecto, si no hay parametro currentpage usa la descripcion general,
    //- en este caso usa la descripcion general
    //- Añadimos posiblidad de seo particular a cada pagina
    if currentpage
        //- Automatizado en el mixin seogeneral.pug
    
        //- Si queremos realizar seo pagina especifica
        //- sobreescribe el seo general
        //- Mixin generado en seogeneral.pug
        +showseogeneral(datasite["site"]["seo-general"], currentpage)
        |
        |
        //- Mixin generado en seosocial.pug
        +showseosocial(datasite["site"]["seo-social"], currentpage)
    else
        //- Mixin generado en seogeneral.pug
        +showseogeneral(datasite["site"]["seo-general"])
        |
        |
        //- Mixin generado en seosocial.pug
        +showseosocial(datasite["site"]["seo-social"])