mixin showtitulo(currentpage)
    //- comprobamos que currentpage sea nulo o undefined
    if currentpage
        each pagename, index in datasite.site["pages"]
            //- encontramos la pagina
            if currentpage === pagename
                if datasite["site"]["titles"][currentpage] != ""
                    title #{datasite["site"]["titles"][currentpage]}
                else
                    //- en caso de que este vacio el campo por defecto
                    //- titulo general
                    title #{datasite["site"]["title-general"]}
        else
            //- hemos hecho el bucle, caso por defecto
            //- titulo general
            title #{datasite["site"]["title-general"]}
    else
        //- en caso de que el parametro es nulo o undefined, 
        //- utilizamos el title-general
        title #{datasite["site"]["title-general"]}